.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #EEF2F4;
  border: 30px solid #FFFFFF;
  padding: 120;
}

.Content {
  align-items: center;
  justify-content: center;
}